*{margin: 0;
padding: 0;}

.App{display: flex;
}
.side{display: flex;
flex-direction: column;
width:240px;
height:100vh;
align-items: center;
background-color: rgb(14, 13, 13);

}
.si{ display: flex;
  padding:1em;
  justify-content: center;
  color:blanchedalmond;
  text-decoration: wavy;

}
.h1{color: aqua;}
.mm{
  background-color:aqua;
  border-radius: 5px;
  font-weight:900;
  font-size: larger;
  letter-spacing:0.2px;
  text-decoration: wavy;
  width:240px;

}
.main{
  flex-grow:1;

  padding: 2em;
  background-image: radial-gradient(rgba(0,0,0,.4),rgba(0,0,0,.8)),url('../public/bww.jpg');
  background-position: center;
  background-size:cover;
  justify-content: center;
  text-align: center;
  position:initial;
  height:calc(table);
 
 
}
.tab{color: bisque;}
.th{
  background-color: rgb(43, 61, 55);
}
.td:hover{
  color: rgb(45, 219, 219);
  font-weight: bold;
}
.aaa{color: beige;}